.Inventory {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    gap: 3px;
}

.OpenBackPack,.OpenBattle {
    width: 50px;
    height: 50px;
    align-self: end;
    padding: 0;

    img {
        width: 100%;
    }
}

.BackPack {
    display: none;
    right: 10px;
    gap: 3px;
    left: 100;
}

.BackPack h1 {
    font-size:30px;
    padding: 10px;
    text-align: center;
    border: 2px solid #7e7e7e;
    box-shadow: 5px 3px 0 #7e7e7e;
    background-color: #f0f0f0;
    margin: 5px;
}

.swords-list,
.materials-list,
.shields-list
 {
    overflow-x: hidden;
    overflow-y: auto;
    margin: 5px;
    padding: 12px;
    display: grid;
    height: 400px;
    width: 200px;
    grid-auto-rows: 50px;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 10px;
    align-content: start;
    border: 2px solid #7e7e7e;
    box-shadow: 5px 3px 0 #7e7e7e;
    background-color: #f0f0f0;
}

.sword-item,.shield-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.lock {
    background-color: #080101b9;
    transform: translateY(-53px);
    width: 100%;
    height: 90px;
    transition: 1s ease;

    img {
        width: 50px;
        transition: 0.2s ease;
        transform: translateX(19px) translateY(-10px);
        border: none;
        background-color: transparent;
        box-shadow: none;
    }

    img:hover {
        transform: translateY(-10px) translateX(19px);
        box-shadow: none;
    }

    img:active {
        transform: translate(-0px);
        transition: 0.2s;
        height: 100%;
        transform: scale(2.2);
        width: 100%;
    }
}

.Modal {
    border: 2px solid #7e7e7e;
    box-shadow: 5px 3px 0 #7e7e7e;
    transition: all 0.1s ease-in-out;
    background-color: #f0f0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;

    p {
        margin: 0;
        border: 2px solid #7e7e7e;
        box-shadow: 5px 3px 0 #7e7e7e;
        transition: all 0.2s ease-in-out;
        background-color: #f0f0f0;
        font-size: 19px;
    }
    p:hover{
        transform: translateY(-10px);
    }
}
.Modal:hover{
    cursor: pointer;
    background-color: #dadada;
}