.Inventory {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: max-content;
    right: 10px;
    gap: 3px;
    left: 100;
}

.Hotbar {
    background-color: #000000bd;
    border: 2px solid #000000;
    padding: 4px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.Hotbar>.Swords {
    background-color: #000000bd;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 3px;
}

.BackPack {
    display: flex;
    border-radius: 10px;
    right: 10px;
    gap: 3px;
    left: 100;
}

.BackPack h1 {
    color: #ffffff;
    background-color: #000000bd;
    font-size: 40px;
    padding: 10px;
    border: 2px solid #000000;
    border-radius: 5px;
    margin: 0px;
    margin-bottom: 1px;
}
.swords-list ,.materials-list {
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #000000bd;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 12px;
    display: grid;
    height: 400px;
    width: 200px;
    grid-auto-rows: 50px;
    justify-content: center ;
    grid-template-columns: repeat(auto-fill, 50px);
    gap: 10px;
    align-content: start; 
}

.sword-item{
    display: flex; 
    flex-direction: column;
    align-items: center;
}

.lock{
    background-color:#080101b9;
    border-radius: 5px;
    position: relative;
    transform: translateY(-49px);
    object-fit: contain;
    z-index: 99;
    display: flex;
    justify-content: end;
    transition: 1s ease;
     border: 2px solid #000000;

    img{
        width: 40px;
        transition: 0.2s ease;
        height: 40px;
        border: none;
        background-color: transparent;
        box-shadow: none;
    }
    img:hover{transform: translateY(-0px); box-shadow: none;}
    img:active{transform: translate(-0px);}
}
.lock:active{

    img{
        transition: 0.2s;
        height: 100%;
        transform: scale(2.2);
        width: 100%;
    }
}

img {
    width: 100%;
    border: 2px solid #000000;
    border-radius: 10px;
    background-color: #8f8f8f;
    transition: all 0.1s ease-in-out;
}

img:hover {
    transform: translate(2px, 2px);
    box-shadow: 2px 2px 0 #000000;
}

img:active {
    transform: translate(4px, 4px);
    box-shadow: 0px 0px 0 #000000;
}